<div class="section-heading style-2">
    <h4>Tin mới nhất</h4>
    <div class="line"></div>
</div>

<div class="featured-post-slides owl-carousel mb-30">
    {{#each latestposts}}
    <div class="single-news-post news-post bg-img" style="background-image: url({{image}});">
        <div class="post-content">
            <a href="/category/{{idcategory}}/posts" class="post-cata">{{namecategory}}</a>
            <a href="/product/{{id}}" class="post-title">
                {{titlepost}}</a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 23</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 334</a>
            </div>
        </div>
    </div>
    {{/each}}

   
</div>