<!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title" style="width:250px;">
                                <p>Có thể bạn chưa biết:</p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    {{#each latestposts}}
                                    <li><a href="/post/{{id}}">{{titlepost}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="top-meta-data d-flex align-items-center justify-content-end">
                            <!-- Top Social Info -->
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com/dinhhai.js"><i class="fa fa-instagram"></i></a>
                            </div>
                            <!-- Top Search Area -->
                            <div class="top-search-area" style="padding-right: 5px;">
                                <form method="post" action="/search">
                                    <input type="search" name="contentSearch" id="topSearch" placeholder="Search">
                                    <button type="submit" class="btn"><i class="fa fa-search"
                                            aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            
                            {{#if isLogin}}
                                {{#if isSubcriber}}
                            <a href="/subcriber/subcriber-editprofile" style="color: gray; align-content: center;"><i class="fa fa-user" style="margin-right: 5px;" aria-hidden="true"></i>{{Username}}</a>
                                {{else}}
                                {{#if isEditor}}
                                <a href="/editor/editor-editprofile" style="color: gray; align-content: center;"><i class="fa fa-user" style="margin-right: 5px;"  aria-hidden="true"></i>{{Username}}</a>
                                {{else}}
                                {{#if isWriter}}
                                <a href="/writer/writer-editprofile" style="color: gray; align-content: center;"><i class="fa fa-user" style="margin-right: 5px;"  aria-hidden="true"></i>{{Username}}</a>
                                {{else}}
                                <a href="#" style="color: gray; align-content: center;"><i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;" ></i>{{Username}}</a>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            <form method="POST" action="/logout" id="myform">
                                <a class="login-btn" role="button" onclick="document.getElementById('myform').submit()" style="color: white">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </a>
                            </form>
                            {{else}}
                            <a href="/login" class="login-btn">Đăng nhập</i></a>
                            <a href="/signup" class="login-btn">Đăng kí</a>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>