<div class="col-12 col-md-5 col-lg-4">
    <div class="sidebar-area">

        <!-- ***** Single Widget ***** -->
        <div class="single-widget followers-widget mb-50">
            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span
                    class="counter">12672</span><span>Facebook</span></a>
            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span
                    class="counter">5481</span><span>Twitter</span></a>
            <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span
                    class="counter">8957</span><span>Google+</span></a>
        </div>

        <!-- ***** Single Widget ***** -->
        <div class="single-widget latest-video-widget mb-50">
            <!-- Section Heading -->
            <div class="section-heading style-2 mb-30">
                <h4>Bài viết mới nhất</h4>
                <div class="line"></div>
            </div>

            <!-- Single Blog Post -->

            <div class="single-post-area mb-30">
                <!-- Post Thumbnail -->
                <div class="post-thumbnail">
                    <img src="{{newpost.image}}" alt="">
                </div>

                <!-- Post Content -->
                <div class="post-content">
                    <a href="/category/{{newpost.idcategory}}/posts" class="post-cata cata-sm cata-success">{{newpost.namecategory}}</a>
                    <a href="/post/{{newpost.id}}" class="post-title">{{newpost.titlepost}}
                    {{#if newpost.ispremium}}
                    <span class="badge badge-warning" style="display: inline">Premium</span><br>
                    {{/if}}</a>
                    <div>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{newpost.viewscomment}} </a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{newpost.views}} </a>
                    </div>
                </div>
            </div>
            
            {{#each postsidebar}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="{{image}}" alt="">
                </div>
                <div class="post-content">
                    <a href="/post/{{id}}" class="post-title">{{titlepost}} 
                    {{#if ispremium}}
                    <span class="badge badge-warning" style="display: inline">Premium</span><br>
                    {{/if}}</a>
                    <div>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{viewscomment}} </a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}} </a>
                    </div>
                </div>
            </div>
            {{/each}}

            <!-- ***** Single Widget ***** -->
            <div class="single-widget newsletter-widget mb-50">
                <!-- Section Heading -->
                <div class="section-heading style-2 mb-30">
                    <h4>Newsletter</h4>
                    <div class="line"></div>
                </div>
                <p>Nhấn Subscribe để ủng hộ chúng tôi và nhận tin tức bổ ích mới nhất!!</p>
                <!-- Newsletter Form -->
                <div class="newsletter-form">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" class="form-control mb-15" id="emailnl"
                            placeholder="Enter your email">
                        <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>