<div class="section-heading style-2">
    <h4>Top chuyên mục</h4>
    <div class="line"></div>
</div>

{{#each latestpostByCat}}
<div class="single-post-area mb-30">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="{{image}}" style="height: 250px" alt="">

            </div>
        </div>
        <div class="col-12 col-lg-6">
            <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="/category/{{idcategory}}/posts" class="post-cata cata-sm cata-danger">{{namecategory}}</a>
                <a href="/post/{{id}}" class="post-title mb-2">{{titlepost}} 
                    {{#if ispremium}}
                    <span class="badge badge-warning" style="display: inline">Premium</span><br>
                    {{/if}}</a>
                <div class="post-meta d-flex align-items-center mb-2">
                    <a href="#" class="post-author">{{namewriter}}</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">{{createddate}}</a>
                </div>
                <p class="mb-2">{{{summary}}}</p>
                <div>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}