<div class="row">
    <div class="col-12">
        <!-- =================Top 10 trending================= -->
        <div class="section-heading">
            <h4>Top 10 bài viết được xem nhiều nhất</h4>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12 col-md-7 col-lg-8">
        <div class="tab-content">
                      
            <!-- --------------- Single Blog Post --------------- -->
            {{#each trendingposts}}
                {{#if isfirsttrendingpost}}
            <div class="tab-pane fade show active" id="post-{{id}}" role="tabpanel" aria-labelledby="post-{{id}}-tab">
                {{else}}            
            <div class="tab-pane fade" id="post-{{id}}" role="tabpanel" aria-labelledby="post-{{id}}-tab">
                {{/if}}
                <div class="single-news-post news-post bg-img" style="background-image: url({{image}});">
                    <div class="post-content">
                        <a href="/category/{{idcategory}}/posts" class="post-cata">{{namecategory}}</a>
                        <a href="/post/{{id}}" class="post-title">{{titlepost}}
                            {{#if ispremium}}
                            <span class="badge badge-warning" style="display: inline">Premium</span><br>
                            {{/if}}</a>
                        
                        <div>
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{viewscomment}}</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>                        
                        </div>
                    </div>
                    <span class="news-duration">{{publishdate}}</span>
                </div>
            </div>
            {{/each}}
   
        </div>
    </div>


    <!-- --------------- Tab Single Blog Post --------------- -->
    <div class="col-12 col-md-5 col-lg-4">
        <ul class="nav vizew-nav-tab" role="tablist">
            {{#each trendingposts}}
            {{#if istrendingpost}}
            <li class="nav-item">
                <a class="nav-link " id="post-{{id}}-tab" data-toggle="pill" href="#post-{{id}}" role="tab"
                    aria-controls="post-{{firsttrendingpost.id}}" aria-selected="true">
            {{else}}
            <li class="nav-item">
                <a class="nav-link" id="post-{{id}}-tab" data-toggle="pill" href="#post-{{id}}" role="tab" aria-controls="post-2"
                    aria-selected="false">
            {{/if}}
                    <div class="single-blog-post d-flex">
                        <div class="post-thumbnail">
                            <img src="{{image}}" alt="">
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">{{titlepost}}</h6>
                            {{#if ispremium}}
                            <span class="badge badge-warning" style="display: inline">Premium</span>
                            {{/if}}
                            <div >
                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> {{viewscomment}}</span>
                                <span><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</span>
                            </div>
                        </div>
                    
                    </div>
                </a>
            </li>
            {{/each}}

            
    </div>
</div>