<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading">
                <br>
                <h4>Quản lý người dùng</h4>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-bottom: 20px;">
        <a href="/admin/insertuser"><button type="button" style="width: 200px;"
                class="btn btn-success">Thêm</button></a>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="info">
                <th scope="col">ID</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Mật khẩu</th>
                <th scope="col">Email</th>
                <th scope="col">SĐT</th>
                <th scope="col">Vị trí</th>
                <th scope="col">Ngày khởi tạo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-light">
            {{#each user}}
            <tr>
                <th>{{this.id}}</th>
                <td>{{name}}</td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>{{position}}</td>
                <td>{{createddate}}</td>
                <td>
                    <a role="button" href="/admin/edituser/{{this.id}}" style="width: 100px;" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                {{#if isEditor}}
                <td>
                    <button  style="width: 100px;" class="btn btn-warning"
                       data-toggle="modal" data-target="#myModal">Phân công</button>
                        <div class="modal conatiner" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                
                                    <div class="container">
                                        <h2>Duyệt</h2>
                                        <form method="post" action="/admin/editorcategory/{{this.id}}">                                        
                                            
                                            <div class="form-group">
                                                <label for="select">Chuyên mục:</label>
                                                <select style="background: #F5F5DC;color:black;" name="idcategory" value="" class="form-control">
                                                    {{#each ../categories}}
                                                    <option value="{{id}}" >{{name}}</option>
                                                    {{/each}}
                                                    
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" style="width:45%;float:left;" >Duyệt</button>
                                            <button type="button" class="btn btn-danger " style="float:right; width:45%;" data-dismiss="modal">Đóng</button>
                                            </div>
                                            
                                            </form>
                                        
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                </td>
                
                {{else}}
                    <td></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>