
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading">
                <br>
                <h4>Quản lý bài viết</h4>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-bottom: 20px;">
        
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="info">
                <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>         
                <th scope="col">Hình ảnh</th>              
                <th scope="col">Ngày gửi</th>
                <th scope="col" style="width: 150px">Trạng thái</th>
                <th scope="col">Views</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody class="table-light">
            {{#each posts}}
            <tr>
                <th>{{this.id}}</th>
                <td style="width: 200px;">{{titlepost}}</td>
              
                <td style="width: 200px;"><img src="{{image}}" /></td>
                <td>{{submittime}}</td>
                {{#if isApproved}}
                <td style="background:greenyellow">{{status}}</td>
                {{else}}
                {{#if isUnapproved}}
                <td style="background:yellow">{{status}}</td>
                {{else}}
                {{#if isRejected}}
                <td style="background:orange">{{status}}</td>
                {{/if}}
                {{/if}}
                {{/if}}
                <td>{{views}}</td>
                
                {{#if isUnapproved}}
                <td>
                   <button  style="width: 100px;" class="btn btn-warning"
                       data-toggle="modal" data-target="#myModal">Duyệt</button>
                        <div class="modal conatiner" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                
                                    <div class="container">
                                        <h2>Duyệt</h2>
                                        <form method="post" action="/admin/approvepost/{{this.id}}">                                        
                                            
                                            <div class="form-group">
                                            <label for="pwd">Ngày xuất bản:</label>
                                            <input type="date" class="form-control" style=" background: #F5F5DC;color:black;" id="pwd" placeholder="Enter approve date" name="publishdate">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" style="width:45%;float:left;" >Duyệt</button>
                                            <button type="button" class="btn btn-danger " style="float:right; width:45%;" data-dismiss="modal">Đóng</button>
                                            </div>
                                            
                                            </form>
                                        
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                </td> 
                {{else}}
                <td></td>
                {{/if}}
                              
                <td>
                    <form method="post" action="/admin/deletepost/{{this.id}}">
                        <button style="width: 100px;" class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>