
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading">
                <br>
                <h4>Quản lý bài viết</h4>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-bottom: 20px;">
        
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="info">
                <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>         
                <th scope="col">Hình ảnh</th>              
                <th scope="col">Ngày gửi</th>
                <th scope="col" style="width: 150px">Trạng thái</th>
                <th scope="col">Views</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody class="table-light">
            {{#each posts}}
            <tr>
                <th>{{this.id}}</th>
                <td style="width: 200px;">{{titlepost}}</td>
              
                <td style="width: 200px;"><img src="{{image}}" /></td>
                <td>{{submittime}}</td>
                {{#if isApproved}}
                <td style="background:greenyellow">{{status}}</td>
                {{else}}
                {{#if isUnapproved}}
                <td style="background:yellow">{{status}}</td>
                {{else}}
                {{#if isRejected}}
                <td style="background:orange">{{status}}</td>
                {{/if}}
                {{/if}}
                {{/if}}
                <td>{{views}}</td>
                
                {{#if isUnapproved}}
                <td>
                    <form action="/admin/approvepost/{{this.id}}" method="POST">
                        <button type="submit" style="width: 100px;" class="btn btn-success">Duyệt</button>
                    </form>
                </td> 
                {{else}}
                <td></td>
                {{/if}}
                              
                <td>
                    <form method="post" action="/admin/deletepost/{{this.id}}">
                        <button style="width: 100px;" class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>