
<div class="vizew-bongda-list-posts-area mb-80" style="margin-top: 60px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Archive Catagory & View Options -->
                <div class="bongda-catagory-view mb-50 d-flex align-items-center justify-content-between">
                    <h3>Tìm kiếm: "{{keyword}}"</h3>
                    <!-- View Options -->
                    <div class="view-options">
                        <a href="#" class="active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>

                {{#each searchResults}}
                <!-- Single Post Area -->
                <div class="single-post-area style-2">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{{image}}" alt="">

                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Post Content -->
                            <div class="post-content mt-0">
                                <a href="/post/{{id}}" class="post-title mb-2">{{titlepost}}</a>
                                <div class="post-meta d-flex align-items-center mb-2">
                                    <a href="#" class="post-author">Bởi {{namewriter}}</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date">{{createddate}}</a>
                                </div>
                                {{#if ispremium}}
                                <span class="badge badge-warning">Premium</span>
                                {{/if}}
                                {{{summary}}}
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{viewscomment}} </a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                
                <!-- Pagination -->
                <nav class="mt-50">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="?page=1"><i class="fa fa-angle-left"></i></a></li>
                        {{#each this.pages}}
                        {{#if active}}
                        <li class="page-item active"><a class="page-link" href="#">{{value}}</a></li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                        {{/each}}
                        <li class="page-item"><a class="page-link" href="?page={{this.pages.length}}"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>

            <!-- ***** Single Widget ***** -->
            {{>sidebar}}
        </div>
    </div>
</div>