{{>breadcrumb}}
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <!--===================================================================-->
                    <img src="{{post.image}}" style="display:block;margin-left: auto;margin-right:auto;width: 1000px;"
                        alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <!--=====================================================-->
                            <a href="/category/{{idcat}}/posts" class="post-cata cata-sm cata-danger">{{namecat}}</a>
                            <!--=====================================================-->
                            <a href="#" class="post-title mb-2">{{post.titlepost}}</a>

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">By Jane</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date">Sep 08, 2018</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                </div>
                            </div>
                        </div>

                        <!--=======================================================-->
                        {{{post.content}}}


                        <!-- Post Tags -->
                        <div class="post-tags mt-30">
                            <ul>
                                {{#each posttags}}
                                <li><a href="/tag/{{idtag}}/posts">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Bình luận</h4>
                                <div class="line"></div>
                            </div>
                            {{#each listcomment}}
                            <ul>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="/img/bg-img/iconcomment.jpg" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="comment-date">{{createddate}}</a>
                                            <h6>{{nameuser}}</h6>
                                            <p>{{content}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {{/each}}
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Để lại bình luận:</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form method="post" onsubmit="checkisuser(this)">
                                    <div class="row">
                                        <div class="col-12">
                                            <textarea name="content" class="form-control" id="content"
                                                placeholder="Nội dung*"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn vizew-btn mt-30" type="submit" >Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Tải bài viết</h4>
                            <div class="line"></div>
                        </div>

                        <div class="single-post-area mb-30">
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-cata cata-sm cata-success">Premium</a>
                            </div>

                            <button type="submit" disabled=true class="btn vizew-btn w-100">DOWNLOAD PDF</button>

                        </div>
                    </div>
                    
                    <section class="vizew-post-area mb-30">
                        <div class="container">
                            <div class="single-widget latest-video-widget mb-50">
                                <div class="section-heading style-2 mb-30">
                                    <h4>Bài viết liên quan</h4>
                                    <div class="line"></div>
                                </div>
                                <!-- Single Blog Post -->
                                {{#each relatedpost}}
                                <div class="single-blog-post d-flex">
                                    <div class="post-thumbnail">
                                        <img src="{{image}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="/post/{{id}}" class="post-title">{{titlepost}}</a>
                                        <div class="post-meta justify-content-between">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 29</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 08</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
function checkisuser(IsUser){
    alert("Bạn vui lòng đăng nhập để bình luận tại đây");
}
</script>
<!-- ##### Post Details Area End ##### -->