{{>breadcrumb}}
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <!--===================================================================-->
                    <img src="{{post.image}}"
                        style="display:block;margin-left: auto;margin-right:auto;width: 1000px;" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <!--=====================================================-->
                            <a href="/category/{{idcat}}/posts" class="post-cata cata-sm cata-danger">{{namecat}}</a>
                            <!--=====================================================-->
                            <a href="#" class="post-title mb-2">{{post.titlepost}}</a>

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">By Jane</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date">Sep 08, 2018</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                </div>
                            </div>
                        </div>

                        <!--=======================================================-->
                        {{{post.content}}}


                        <!-- Post Tags -->
                        <div class="post-tags mt-30">
                            <ul>
                                {{#each posttags}}
                                    <li><a href="/tag/{{idtag}}/posts">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>

                        <!-- Related Post Area -->
                        <div class="related-post-area mt-5">
                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Bài viết liên quan</h4>
                                <div class="line"></div>
                            </div>

                            <div class="featured-post-slides owl-carousel mb-30">
                                {{#each latestposts}}
                                <div class="single-news-post news-post bg-img" style="background-image: url({{image}});">
                                    <div class="post-content">
                                        <a href="/category/{{idcategory}}/posts" class="post-cata">{{namecategory}}</a>
                                        <a href="/post/{{id}}" class="post-title">
                                            {{titlepost}}</a>   
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 23</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 334</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Bình luận</h4>
                                <div class="line"></div>
                            </div>

                            <ul>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="img/bg-img/31.jpg" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="comment-date">27 Aug 2019</a>
                                            <h6>Tomas Mandy</h6>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipisci velit, sed quia non numquam eius</p>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="like">like</a>
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>

                                    <ol class="children">
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="img/bg-img/32.jpg" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#" class="comment-date">27 Aug 2019</a>
                                                    <h6>Britney Millner</h6>
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                                        amet, consectetur, adipisci velit, sed quia non numquam eius
                                                    </p>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="like">like</a>
                                                        <a href="#" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>

                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="img/bg-img/33.jpg" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="comment-date">27 Aug 2019</a>
                                            <h6>Simon Downey</h6>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipisci velit, sed quia non numquam eius</p>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="like">like</a>
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Để lại phản hồi:</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Tên của bạn*">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email*">
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message"
                                                placeholder="Nội dung*"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn vizew-btn mt-30" type="submit">Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Tải bài viết</h4>
                            <div class="line"></div>
                        </div>

                        <div class="single-post-area mb-30">
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-cata cata-sm cata-success">Premium</a>
                            </div>

                            <button type="submit" disabled=true class="btn vizew-btn w-100">DOWNLOAD PDF</button>

                        </div>
                    </div>
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget share-post-widget mb-50">
                        <p>Share This Post</p>
                        <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                        <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i> Google+</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->