<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading">
                <br>
                <h4>Quản lý bài viết đã duyệt</h4>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="info">
                <th scope="col">#</th>
                <th scope="col">Tên bài viết</th>
                <th scope="col" width="120px">Chuyên mục</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Ngày khởi tạo</th>
                <th scope="col" width="120px">Trạng thái</th>
            </tr>
        </thead>
        <tbody class="table-light">
            {{#each approvedposts}}
            <tr>
                <th>{{this.id}}</th>
                <td>{{titlepost}}</td>
                <td>{{namecategory}}</td>
                <td>{{{summary}}}</td>
                <td>{{createddate}}</td>
                <td>Đã duyệt</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>