<table class="table">
    <thead style="background: #5F9EA0">
        <tr class="info">
             <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>         
                <th scope="col">Hình ảnh</th>              
                <th scope="col">Ngày gửi</th>
                <th scope="col" style="width: 150px">Trạng thái</th>
                <th scope="col">Lý do từ chối</th>
                
                
    </thead>
    <tbody style="background: #FFEBCD">
        {{#each rejectedposts}}
            <tr>
                <th>{{this.id}}</th>
                <td style="width: 200px;">{{titlepost}}</td>
              
                <td style="width: 200px;"><img src="{{image}}" /></td>
                <td>{{submittime}}</td>
               
             
               
                <td style="background:orange">{{status}}</td>
               
              
                <td>{{reason}}</td>
                
                
                              
               
            </tr>
            {{/each}}
      

    </tbody>
</table>