<table class="table">
    <thead style="background: #5F9EA0">
        <tr class="info">
             <th scope="col">#</th>
                <th scope="col">Tiêu đề</th>         
                <th scope="col">Hình ảnh</th>              
                <th scope="col">Ngày gửi</th>
                <th scope="col" style="width: 150px">Trạng thái</th>
                <th scope="col">Views</th>
                <th></th>
                <th></th>
                
    </thead>
    <tbody style="background: #FFEBCD">
        {{#each posts}}
            <tr>
                <th>{{this.id}}</th>
                <td style="width: 200px;">{{titlepost}}</td>
              
                <td style="width: 200px;"><img src="{{image}}" /></td>
                <td>{{submittime}}</td>
                {{#if isApproved}}
                <td style="background:greenyellow">{{status}}</td>
                {{else}}
                {{#if isUnapproved}}
                <td style="background:yellow">{{status}}</td>
                {{else}}
                {{#if isRejected}}
                <td style="background:orange">{{status}}</td>
                {{/if}}
                {{/if}}
                {{/if}}
                <td>{{views}}</td>
                
                {{#if isUnapproved}}
                <td>
                      
                        <button  style="width: 100px;" class="btn btn-warning"
                       data-toggle="modal" data-target="#myModal">Duyệt</button>
                        <div class="modal conatiner" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                
                                    <div class="container">
                                        <h2>Duyệt</h2>
                                        <form method="post" action="/editor/approvedpost/{{this.id}}">
                                            <div class="form-group">
                                            <label for="select">Chuyên mục:</label>
                                            <select style="background: transparent;color:black;" name="idcategory" class="form-control">
                                                {{#each ../categories}}
                                                <option value="{{id}}" >{{name}}</option>
                                                {{/each}}
                                                
                                            </select>
                                            
                                            </div>
                                            <div class="form-group">
                                            <label for="select">Tags:</label>
                                            <select style=" background: transparent;color:black;" name="idtag" class="form-control">
                                                {{#each ../tags}}
                                                <option value="{{id}}" >{{name}}</option>
                                                {{/each}}
                                                
                                            </select>
                                            </div>
                                            <div class="form-group">
                                            <label for="pwd">Ngày xuất bản:</label>
                                            <input type="date" class="form-control" style=" background: transparent;color:black;" id="pwd" placeholder="Enter approve date" name="publishdate">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" style="width:45%;float:left;" >Duyệt</button>
                                            <button type="button" class="btn btn-danger " style="float:right; width:45%;" data-dismiss="modal">Đóng</button>
                                            </div>
                                            
                                            </form>
                                        
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                    
                </td>
                 <td>
                     
                    <button type="submit" style="width: 100px;" class="btn btn-warning" data-toggle="modal" data-target="#modalReject1"
                        >Từ Chối</button>
                        <div class="modal conatiner" id="modalReject1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                
                                    <div class="container">
                                        <h2>Lý do từ chối</h2>
                                        <form method="post" action="/editor/rejectedpost/{{this.id}}">
                                            
                                            <div class="form-group">
                                            <label for="pwd">Lý do từ chối:</label>
                                            <input style=" background: transparent;color:black;" type="text" class="form-control" id="pwd" placeholder="Enter reason" name="reason">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit"  class="btn btn-primary  " style="width:45%;float:left;" >Từ chối</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:45%;float:left;"  >Đóng</button>
                                            </div>
                                            
                                            </form>
                                        
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                </td>
                {{else}}
                <td></td>
                <td></td>
                {{/if}}
                              
               
            </tr>
            {{/each}}
      

    </tbody>
</table>