<div class="tab-content container">
    <div class="tab-pane fade show active" id="CapNhatThongTin" role="tabpanel" aria-labelledby="tab-css">
        <!-- ##### Breadcrumb Area Start ##### -->
        <div class="vizew-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                                        Trang
                                        chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### Login Area Start ##### -->
        <div class="vizew-login-area section-padding-80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="login-content">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h4>Thông tin cá nhân</h4>
                                <div class="line"></div>
                            </div>

                            <form action="/subcriber/subcriber-editprofile" method="post">
                                <div class="form-group">
                                    <p><b>Họ và tên</b></p>
                                    <input type="text" value="{{subscriberName}}"  class="form-control" name="name" id="exampleInputEmail1"
                                        >
                                </div>
                                {{#if isMale}}
                                <div class="form-group">
                                    <p><b>Giới tính</b></p>
                                    <input type="radio"  name="gender" checked="checked" value="Nam" id="radiobtnNam"></input>
                                    <label for="radiobtnNam"   style="color:gray">Nam </label>
                                    <input type="radio" name="gender"  value="Nữ" id="radiobtnNu"></input>
                                    <label for="radiobtnNu" style="color:gray">Nữ </label>
                                </div>
                                {{else}}
                               
                                {{#if isFemale}}
                                <div class="form-group">
                                    <p><b>Giới tính</b></p>
                                    <input type="radio"  name="gender"  value="Nam" id="radiobtnNam"></input>
                                    <label for="radiobtnNam"   style="color:gray">Nam </label>
                                    <input type="radio" name="gender" checked="checked" value="Nữ" id="radiobtnNu"></input>
                                    <label for="radiobtnNu" style="color:gray">Nữ </label>
                                </div>
                               
                                 {{else}}
                                  <div class="form-group">
                                    <p><b>Giới tính</b></p>
                                    <input type="radio"  name="gender"  value="Nam" id="radiobtnNam"></input>
                                    <label for="radiobtnNam"   style="color:gray">Nam </label>
                                    <input type="radio" name="gender"  value="Nữ" id="radiobtnNu"></input>
                                    <label for="radiobtnNu" style="color:gray">Nữ </label>
                                </div>
                                 {{/if}}
                                  {{/if}}
                                {{!-- <div class="form-group">
                                    <p><b>Ngày sinh</b></p>
                                    <input type="date" name="" class="form-control">
                                </div> --}}
                                <div class="form-group">
                                    <p><b>Email</b></p>
                                    <input type="email" class="form-control" name="email" value="{{subscriberEmail}}" id="exampleInputEmail1"
                                        placeholder="nvana@vizew.com">
                                </div>
                                <div class="form-group">
                                    <p><b>Số điện thoại</b></p>
                                    <input type="text" name="phone" value="{{subscriberPhone}}" class="form-control" id="exampleInputEmail1"
                                        placeholder="nvana@vizew.com">
                                </div>

                                <button type="submit" class="btn vizew-btn w-100 mt-30">Cập nhật</button>
                                <br>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>